<!DOCTYPE html>
<html>
<head>
    <title>Placement Preparation Analyzer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="container">

        <h1>Placement Preparation Analyzer</h1>

        <p>
            Track your preparation, analyze your performance,
            and improve your weak areas.
        </p>

        <div class="buttons">
            <button>Start Practice</button>
            <button>View Performance</button>
        </div>

    </div>

</body>
</html>